.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    border: black 1px solid;
    width: 50%;
    height: 80%;
    text-align: center;
}