.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: black 1px solid;
    width: 500px;
    height: 450px;
    text-align: center;
}